/*  폰트 적용 */
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);

html {
	font-family: "Noto Sans KR", sans-serif;
}

/* 커스텀 */
/* 반응형 레이아웃 */
.con {
	max-width: 1150px;
}

.con-min-width {
	min-width: 320px;
}

html, body {
	overflow-x: hidden;
}

.table-common>table {
	width: 100%;
	border-collapse: collapse;
}

.table-common>table th, .table-common>table td {
	border: 1px solid black;
	padding: 10px;
}

.list-btns {
	text-align:right;
}
